* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

.all {
    background-image: url(https://hungakirashop.com/bg.png);
    Background-repeat: no-repeat;
    background-size: 100%;

}

.header {
    display: flex;
    


    width: 100%;
    height: 10rem;
    background-color: rgba(0, 0, 0, 0.779);
    position: fixed;
    top:0%;

}

.header__one {
    display: flex;

    align-items: center;
    height: 10rem;
    color: yellow;

}

p {
    font-weight: 700;
    font-size: 16px;
    padding: 1rem;
    margin-bottom: rem;
}

span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 90px;
    background-color: yellow;
    border-radius: 0.25rem;
    font-size: 16px;
    font-weight: 600;
    margin-right: 2rem;

}

span:hover {
    color: white;
    background-color: orangered;
}

.header__two {
    display: flex;
    align-items: center;
    margin-left: 10cm;

}

.hy {
    margin-right: 0.5rem;
    width: 105px;


}

.header__img {
    margin-right: 2rem;
    margin-left: 3rem;
}

.ender {
    display: flex;

    background-color: rgba(0, 0, 0, 0.922);

    height: 14rem;
    color: rgb(245, 245, 245);
    font-size: 15px;
    font-weight: 700;
    padding-top: 4rem;
    padding-left: 7rem;


}

.ender__two {
    margin-left: 3rem;
    margin-right: 3rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.chu {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 900;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
    margin-bottom: 5rem;
    padding-top: 10px;

}

.chiu {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 900;
    margin-top: 2rem;
}

hr {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2px;
    width: 8rem;
    color: rgb(0, 174, 255);
    background-color: rgb(0, 174, 255);
    border: 0ch;
    margin-top: 2rem;
}

.iu {
    height: 800px;
    width: 800px;
}

.giuanam {
    height: 4rem;
    width: 30rem;
    color: white;
    background-color: rgb(0, 174, 255);
    border: 0ch;
    border-radius: 3px;
    font-size: 2rem;
    font-weight: 700;

}



.quay>img {
    height: 450px;
    width: 450px;
    margin-bottom: 5rem;
}

table {
    font-weight: 700;
    font-size: .875rem;
    line-height: 1.25rem;
    border-collapse: collapse;
    height: 332.67px;
    width: 300px;
}

tr {
    border-bottom: solid 1px rgb(41, 43, 45);
}
.bang  {
    height: 200px;
    
    overflow-y: scroll;
    
}
.vong {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
   
}
.vongquay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.giuahai{
    height: 36px;
    width: 320px;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: 5px  ;
    border: 2px solid rgb(255, 196, 0) ;
    margin-bottom: 2rem;
}
.giuasau{
    height: 36px;
    width: 112px;
    margin-right: 1rem;
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
    background-color: rgb(0, 174, 255);
    border-radius: 5px;
    border: none;
    
}
.giuabay{
    height: 36px;
    width: 144px;
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
    background-color: rgb(0, 128, 0);
    border-radius: 5px;
    border: none;
}